.input-form{
  width 100%
  //float left
  //padding 5px
  position absolute
  z-index 3;
  .tit{
    font-size 16px
    font bolder
    font-weight: 700;
    font-size: 18px;
    color: #4d4d4d;
    margin-bottom 8px;

  }
  .warning{
    color red
    font-weight 300
    font-style italic
    font-size 12px
  }
  .hide{
    opacity 0
  }
  input{
    width: 100%;
    border 1px solid #e3e3e3
    position absolute
    height 32px;
    color #687089
    //border-radius 3px
    display block
    padding 0 15px
    font-size 14px
    outline none
    //margin-bottom 15px
    //margin-top 5px
  }
}