// inject:all
@import "../../../src/client/app/app-layout.styl";
@import "../../../src/client/app/common/area-input/area-input.styl";
@import "../../../src/client/app/common/checkbox/checkbox.styl";
@import "../../../src/client/app/common/editor/editor.styl";
@import "../../../src/client/app/common/form/form.styl";
@import "../../../src/client/app/common/input-form/input-form.styl";
@import "../../../src/client/app/common/input-form/input-form2.styl";
@import "../../../src/client/app/common/input-form/select-form/select-form.styl";
@import "../../../src/client/app/common/input-form/text-area-form/text-area-form.styl";
@import "../../../src/client/app/common/input/input.styl";
@import "../../../src/client/app/common/lazy-image/lazy-image.styl";
@import "../../../src/client/app/common/list-view/list-view.styl";
@import "../../../src/client/app/common/loading/loading-2.styl";
@import "../../../src/client/app/common/loading/loading.styl";
@import "../../../src/client/app/common/select/select.styl";
@import "../../../src/client/app/common/select/select2.styl";
@import "../../../src/client/app/common/sl-select/sl-select.styl";
@import "../../../src/client/app/common/switch-button/switch-button.styl";
@import "../../../src/client/app/common/switch-inline/switch-inline.styl";
@import "../../../src/client/app/common/tags-form/tags-form.styl";
@import "../../../src/client/app/common/tool-tip/tool-tip2.styl";
@import "../../../src/client/app/component/click-outside/click-out-side.styl";
@import "../../../src/client/app/component/modal/modal.styl";
@import "../../../src/client/app/component/pagination-table/pagination-table.styl";
@import "../../../src/client/app/component/pagination-table/pagination/pagination.styl";
@import "../../../src/client/app/component/upload-image/upload-image.styl";
@import "../../../src/client/app/main-routes.styl";
@import "../../../src/client/app/pages/admin-layout.styl";
@import "../../../src/client/app/pages/default-layout.styl";
@import "../../../src/client/app/pages/home/home-page.styl";
@import "../../../src/client/app/pages/home/time-ago/time-ago.styl";
@import "../../../src/client/app/pages/login/login.styl";
@import "../../../src/client/app/pages/nav-bar.styl";
@import "../../../src/client/styl/main.styl";
// endinject

no-select() {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  not supported by any browser */
}
