.select-form{
  width 45%
  float left
  padding 20px
  margin 20px
  margin-bottom 55px
  .tit{
    font-size 16px
    font-weight 550
    font bolder
    padding 5px
    color black
  }
  .warning{
    color red
    font-weight 300
    font-style italic
    font-size 12px
  }
  .hide{
    opacity 0
  }
  select{
    width: 100%;
    border 1px solid #adadad
    border-radius 5px
    padding 5px
    height 33px
    margin-bottom 15px
    margin-top 5px
  }

}