.checkbox-sl{
  position relative;
  .check-box{
    position absolute;
    margin 0 !important;
    left 0;
    top 50%;
    transform translate(0, -50%);
  }
  .checkbox-label{
    margin-left 20px;
  }
}