.form-group {
    margin-bottom 2rem;
    //position relative;
    &.area-input{
        height 200px !important
        padding: 5px 10px;
        textarea{
            height 180px;
        }
        .error-text {
            color red;
            font-size 12px;
            margin-top: 5px;
            //position absolute;
        }
    }
    .form-control {
        color black !important;
    }


}