.main-routes{
  animation faded 1s ease alternate
}

.main-label{
  text-align center;
}

body{
  //background-color #1a1b1f !important;

  //color white;
  color #242424
}
h1, h2, h3, div, span {
  //color white;
}

.btn-green{
  padding 10px 20px;
  background #28cc1a
  color white;
  border 1px solid #25bc18;
  font-size 15px;
  font-weight 600;
  border-radius 6px;
  &:hover{
    background #2ce11d;
  }
}

.btn-orange{
  padding 10px 20px;
  background #cc622b
  color white;
  border 1px solid #bf5e2b;
  font-size 15px;
  font-weight 600;
  border-radius 6px;
  &:hover{
    background #e06c2f;
  }
}

.modal-header, .modal-body, .modal-footer{
  color #838383;
  h1, h2, h3, div, span {
    color #838383;
  }
}